# Maven
target/

# Spring Boot
*.jar
*.war
.env

# React
node_modules/
build/

# macOS
.DS_Store

# Logs
*.log

# IDE
.classpath
.project
.settings/
*.iml
.idea/
.vscode/

# Project meta-files
*.pdf
*.docx


src/test/*lesund Rental/
src/test/*lesund Rental*.json
